@font-face{
  src: url(font/Iosevka\ Nerd\ Font\ Complete\ Mono.ttf);
  font-family: iksvo;
}
body{
    background: url('img/BG.JPG');
    font-family: 'iksvo', sans-serif;
}

.container{
    max-width: 90%;
    margin: 0 auto;
    background-color: #09202b;
    color: #ebebeb;
    border: 3px solid #000;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35), -5px 0px 5px rgba(0, 0, 0, 0.35);
    text-align: center;
    padding-bottom: 1rem;
}

.btn{
    display: inline-block;
    border: 2px solid #000;
    background-color: #09202b;
    color: #ebebeb;
    padding: 8px 25px 8px 25px ;
    text-decoration: none;
    border-radius: .7rem;
    font-size: 1.2rem;
    box-shadow: 2px 2px 2px #030f14;
}

.btn:hover{
  background: #123e52;
}
.btn:active{
  transform: translateY(-10deg);
}

h3{
    font-size: 2rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


li{
    list-style: none;
    margin: 0 auto;
}

.nav{
    display: flex;
    margin-bottom: 1rem;
}

.blog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 2rem;
    grid-gap: 1rem;
}
.post{
    border: 3px solid #404040;
    padding: 1rem;
    box-shadow: 0 0 0.5em black,inset 0 0 0.375em #404040;
}
.post .title{
    font-size: 1.5rem;
}

p{
    font-size: 1.2rem;
    line-height: 2.5wrem;
    width: 90%;
    margin: 0 auto;
    text-align: justify;
  }
